.main-container {
  background-color: #393a3a;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

/*login page*/
#login-container {
  background-color: #fff;
  width: 608px;
  min-height: 567px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#login-container:before {
  content: url("../public/png/close-button.png");
  position: absolute;
  width: 51px;
  height: 51px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  bottom: 94%;
  left: 96%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  cursor: pointer;
}
.strawberry-section {
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.niceToSeeYou-section {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#strawberry {
  width: 74px;
  height: 80px;
}
.login-input-section {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.login-input {
  border: 2px solid #cacfc7;
  border-radius: 5px;
  height: 55px;
  width: 465px;
  color: #000000;
  font-size: 14px;
  padding-left: 20px;
  box-shadow: none;
}
#login-email-input {
  background: url("../public/png/mail-text.png") no-repeat right 7px;
}
#login-password-input {
  background: url("../public/png/password-text.png") no-repeat right 7px;
  margin-top: 20px;
}
#login-forgot-password {
  width: 93px;
  height: 13px;
  margin-top: 30px;
  align-self: end;
  cursor: pointer;
}
#login-submit {
  width: 466px;
  height: 52px;
  border-radius: 50px;
  border: 0;
  background-color: #dc373f;
  margin-top: 45px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 55px;
}

/*register page*/

#register-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff;
  width: 850px;
  min-height: 1080px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
#sub-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.top-register-section {
  margin-top: 47px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.register-strawberry-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.peginate-section {
  margin-top: 60px;
}
#registerForm {
  width: 100%;
}
.client-details {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
#client-details-img {
  height: 12px;
}
#signin-text-img {
  cursor: pointer;
}
#register-email-input {
  width: 100%;
  margin-top: 20px;
  background: url("../public/png/mail-register.png") no-repeat right 7px;
}
.password-register-section {
  display: flex;
  justify-content: space-between;
}
.doubleInputs {
  margin-top: 20px;
  width: 99%;
}

#validate-password-register-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

#password-register-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}
#passwordRegister {
  background: url("../public/png/password-register.png") no-repeat right 7px;
}
#passwordConfirmation {
  background: url("../public/png/password-validate-register.png") no-repeat
    right 7px;
}
#mailAdvertiseSection {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
#mailAdvertiseCheckboxContainer {
  margin-left: 5px;
  height: 25px;
  width: 25px;
  border: 1px solid black;
}
#mailAdvertiseCheckbox {
  height: 100%;
  width: 100%;
  accent-color: white;
}
#deliveryDetailsContainer {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.doubleSection {
  display: flex;
  justify-content: space-between;
}

.doubleInputStart {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.doubleInputEnd {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.smallInput {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: flex-start;
}

.mediumInput {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-end;
}

.bigInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}
#phoneSection {
  margin-top: 20px;
}
#lastName {
  background: url("../public/png/last-name.png") no-repeat right 7px;
}
#firstName {
  background: url("../public/png/first-name.png") no-repeat right 7px;
}

#homeNumber {
  background: url("../public/png/home-num-text.png") no-repeat right 7px;
}

#address {
  background: url("../public/png/address-text.png") no-repeat right 7px;
}
#entryCode {
  background: url("../public/png/code.png") no-repeat right 7px;
}
#apartment {
  background: url("../public/png/apartmant.png") no-repeat right 7px;
}
#city {
  background: url("../public/png/city.png") no-repeat right 7px;
}
#phone {
  width: 50%;
  background: url("../public/png/phone.png") no-repeat right 7px;
}
#submitSection {
  margin-top: 72px;
  display: flex;
  align-items: flex-end;
}
#registerSubmit {
  width: 278px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  background-color: #dc373f;
  color: #fff;
  font-weight: 600;
}

/*tnx page*/
#tnxContainer {
  background-color: #fff;
  width: 608px;
  min-height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#tnxContainer > h3 {
  margin-top: 50px;
}
#tnxContainer button {
  margin-top: 50px;
  width: 278px;
  height: 50px;
  border-radius: 50px;
  border: 0;
  background-color: #083c63;
  color: #fff;
  font-weight: 600;
}
.spinner {
  animation: spin infinite 2s linear;
  font-size: 32pt;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
